#bigTable{
    width: 500px;
    height: 500px;
    align-content: center;
}

.indieGames{
    width: 50px;
    height: 50px;
}
.indieBoxes{
    width: 50px;
    height: 50px;
    border-style: solid;
    border-color: black;
    border-width: 2px;
}

.redX{
    width: 40px;
    height: 40px;
}

.blackO{
    width: 40px;
    height: 40px;
}

.highlight{
    border-style: solid;
    border-color: red;
    border-width: 2px;
}